   body{
    color: white;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif ;
   }
   ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
   }

   a img  {
    width: 30px;
    height: 30px;
   }

   a {
    color: white;
    text-decoration: none;
   }

   header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px white solid;
   }

   header h1 {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 25px;
   }

   header h2 {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 25px;
   }
   
   .center {
    text-align: center;
    
   }

   h1 {
    color: darkred;
   }
